body{
    font-family: 'Luxurious Roman', cursive;
    margin:0;
    padding:0;
}
#first{
    font-size: 55px;
    border-left: 5px solid rgb(175, 122, 197);
    border-image-slice: 1;
    padding-left: 5px;
}
.diffrent-color{
    color:rgb(191, 129, 218);
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.flexible-item{
    width: 60%;
    margin-left: 50px;
    padding-left: 100px;
    padding-top: 80px;
}
.flexible-item img{
    width: 350px;
    height: 355px;
}
p{
    font-size: 19px;
}
a{
    text-decoration: none;
    background-color: rgb(175, 122, 197);
    padding:10px;
    font-weight: 700px;
    color: white;
    border-radius: 7px;
}
.misson-h1{
    text-align: center;
    font-size: 50px;
}
.mission-item{
    border-radius: 20px;
    width:20%;
    margin-left: 90px;
    margin-right: 10px;
    padding: 20px;
}
.mission-1{
    background-color: powderblue;
}
.mission-2{
    background-color: rgb(248, 217, 222);
}
.mission-3{
    background-color: rgb(240, 213, 234);
 }
.mission-item img{
    background-position:left;
    width: 30%;
}
.small-heading{
    font-size: 40px;
}
.flexible-item2{
    width: 50%;
    margin-left: 30px;
    margin-right: 50px;
    padding-right:20px;
    margin-top: 70px;
}
.flexible-item2 img{
    width:500px;
    height: 430px;
    padding-left:50px;
}
.development-para{
    margin-left: 10%;
}
#think-positive{
    text-align: center;
    background-color: rgb(215, 197, 233);
    border-radius: 6px;
    box-shadow: 10px 10px 40px rgb(209, 171, 224);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    padding:20px;
 }
footer{
    background-color: black;
    color: white;
    text-align: center;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
}
footer h3{
    font-size: 25px;
}