body{
    font-family: 'Luxurious Roman', cursive;
    margin:0;
}
h1{
    font-size: 55px;
    border-left: 5px solid rgb(175, 122, 197);
    border-image-slice: 1;
    padding-left: 5px;
}
.diffrent-color{
    color:rgb(187, 143, 206);
}
.flexible-container{
    display: flex;
}
.flexible-item{
    width: 60%;
    margin-left: 50px;
    padding-left: 100px;
    padding-top: 80px;

}
.flexible-item img{
    width: 350px;
    height: 355px;
    border-radius:5px solid linear-gradiant(gray, white);
    border-width: 5px;
}
p{
    font-size: 19px;
}
a{
    text-decoration: none;
    background-color: rgb(175, 122, 197);
    padding:10px;
    font-weight: 700px;
    color: white;
    border-radius: 7px;
}
.misson-h1{
    text-align: center;
    border-left: 5px solid white;
}
.mission-item{
    border-radius: 20px;
    width:20%;
    margin-left: 90px;
    margin-right: 10px;
    padding: 20px;
}
.mission-1{
    background-color: powderblue;
    
}
.mission-2{
    background-color: rgb(248, 217, 222);
    
}
.mission-3{
    background-color: rgb(240, 213, 234);
    
}
.missions img{
    background-position:left;
    width: 30%;
}